.settings {
  padding: 0 150px;
}

.settings__item {
  position: relative;
  margin: 25px 0;
  cursor: pointer;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 16px;
  padding: 25px;
}
.settings__item::after {
  position: absolute;
  content: url('../../utils/img/right.svg');
  width: 20px;
  height: 20px;
  right: 0;
  top: 50%;
  transform: (-50%, -50%);
}

.settings-wrap {
  padding: 50px;
}

.btn-add {
  text-decoration: none;
}

.settings-interests__btn {
  margin-top: 100px;
}

.avatar-wrap {
  cursor: pointer;
  position: relative;
}
.avatar-wrap__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avatar-wrap:hover .avatar-wrap__bg {
  opacity: 1;
}
.settings__item_none-cursor {
  cursor: initial;
}
.settings__item_none-cursor::after {
  display: none;
}

@media screen and (max-width: 600px) {
  .settings {
    padding: 0 15px;
  }
  .settings-wrap {
    padding: 0 15px;
  }
}