* {
  font-family: 'Roboto', sans-serif;
  color: #1A1C27;
}

p {
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 20px;
line-height: 28px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 25px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.btn-app {
  background: #5B2AE7;
  border-radius: 8px;
  padding: 12px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  transition: all .5s ease-in-out;
}

.btn-app:hover {
  color: #fff;
  background: #551df0;
}

.btn-width {
  width: 95vw;
}

.width-100 {
  width: 100%;
  text-align: center;
}

/* Swiper slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: inherit;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: max-content;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}